<div class="mainform">
  <app-tuto label="Retrouvez ici le résultat de vos ventes / validation des entrées en temps réel"></app-tuto>
  <br>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="charts.length>0" style="max-width: 1200px;width:100%;display: inline-block;text-align: center;">
    <table class="app-table">
      <tr>
        <th>Status</th><th>{{_event.item}}</th>
      </tr>
      <tr *ngFor="let r of charts[0].data">
        <td>{{r[0]}}</td><td>{{r[1]}}</td>
      </tr>
    </table>
    <br><br>

    <div *ngFor="let chart of charts" style="width:100%;">
      <google-chart
        style="width:100%;background: none;height:250px;"
        [type]="chart.type"
        [title]="chart.title"
        [data]="chart.data"
        [columns]="chart.columnNames"
        [options]="chart.options">
      </google-chart>
    </div>

    <br><hr><br>
  </div>

  <br>

  <button class="app-button" mat-button mat-flat-button
          name="cmdBack"
          (click)="toExcel()">
    <div class="bloc-bouton">Exporter<br>vers Excel</div>
  </button>


  <button class="app-button" mat-button mat-flat-button
          name="cmdBack"
          (click)="_location.back()">
    Retour
  </button>
  <br>

</div>
