<button mat-raised-button mat-button
        *ngIf="!show" class="app-button"
        (click)="show=true">
  <div class="bloc-bouton">Créditer<br>votre compte</div>
</button>

<app-hourglass [message]="message"></app-hourglass>

<div style="width:100%;text-align:center;margin-top: 5px;" *ngIf="show">
  <h3 *ngIf="title.length>0">{{title}}</h3>
  <div style="display: flex;flex-wrap: wrap;width:100%;justify-content: center;">
      <div *ngIf="amounts.length==1" style="line-height: 120%;display: inline-block;min-width:200px;width:50%;">
        Créditer:<br>
        <span style="font-size: x-large;">{{amount}}€</span>
        <br>
        <br>
      </div>

      <div *ngIf="amounts.length>1" style="display: inline-block;min-width:200px;width:50%;">
        <mat-form-field *ngIf="amounts.length>1" style="width:120px;">
          <mat-label>Créditer:</mat-label>
          <mat-select [(value)]="amount" (valueChange)="refresh()">
            <mat-option *ngFor="let amount of amounts" [value]="amount">
              {{amount}}€
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="height:80px;min-width:200px;display: inline-block;text-align: center;overflow: hidden;margin-bottom: 20px;"
           *ngIf="payPalConfig">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>

      <div style="min-width:200px;display: inline-block;text-align: center;">
        Via Ethereum<br>
        <qr-code [size]="150"
                 ngxClipboard [cbContent]="user?.address"
                 (click)="informe_copy()"
                 style="display: inline-block;vertical-align: middle;"
                 [value]="user?.address">
        </qr-code>
        <br>
        <div style="font-size: x-small;line-height: 105%;">
          {{user?.address?.substr(0,20)}}<br>
          {{user?.address?.substr(21)}}
        </div>
        <br>
        <button class="app-button" mat-icon-button mat-button mat-flat-button
                title="Rafraichir le wallet pour afficher sa balance"
                (click)="config.reload_user()">
          <mat-icon>refresh</mat-icon>
        </button>

        <button class="app-button" mat-icon-button mat-button mat-flat-button
                title="Copier la commande permettant le rechargement"
                (click)="faucet()">
          <mat-icon>attach_money</mat-icon>
        </button>

        <button mat-raised-button mat-button
                mat-icon-button class="app-button"
                title="cacher mon wallet"
                (click)="show=false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
  </div>


</div>
