<div style="width:100%;text-align:center;">
  <h3 *ngIf="title.length>0">{{title}}</h3>
  <div style="display: flex;flex-wrap: wrap;width:100%;text-align: center;">
      <div *ngIf="amounts.length==1" style="line-height: 110%;display: inline-block;min-width:200px;width:50%;text-align: center;">
        Créditer:<br>
        <span style="font-size: x-large;">{{amount}}€</span>
        <br>
        <small>sur votre compte</small>
      </div>

      <div *ngIf="amounts.length>1" style="display: inline-block;min-width:200px;width:50%;">
        <mat-form-field *ngIf="amounts.length>1" style="width:120px;">
          <mat-label>Créditer:</mat-label>
          <mat-select [(value)]="amount" (valueChange)="refresh()">
            <mat-option *ngFor="let amount of amounts" [value]="amount">
              {{amount}}€
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <small>sur votre compte</small>
      </div>

      <div style="min-width:200px;display: inline-block;text-align: center;">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>

  </div>

  <app-hourglass [message]="message"></app-hourglass>
</div>
