

  <mat-expansion-panel [expanded]="faq.visible"
                       *ngFor="let faq of faqs"
                       style="width:96%;margin:2%;">

    <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
      <h3><strong>{{faq.title}}</strong></h3>
    </mat-expansion-panel-header>

    <div style="height:auto;">
      <div style="font-size: small"
           class="faq-content"
           *ngIf="!faq.content.endsWith('html') && faq.format!='html'">
        {{faq.content}}
      </div>

      <iframe style="border:none;width:100%;"
              *ngIf="faq.content.endsWith('html')"
              [src]="faq.content | safe">
      </iframe>

      <div [innerHTML]="faq.content"
           class="faq-content"
           *ngIf="faq.format=='html'">
      </div>
    </div>


  </mat-expansion-panel>




