<div style="position: relative;height: 100vh;vertical-align: text-top;text-align: center;width:100%;">
  <button style="margin-top: 10px;" mat-button mat-raised-button (click)="fictif()">
    Ajouter un événement fictif
  </button><br>

  <app-event width="300px" *ngFor="let event of events" [event]="event">
    <div *ngIf="event.description?.length>0" style="font-size: small;color:gray;height: 200px;overflow: hidden;">
      {{event.description}}
    </div>

    <div style="margin-top: 10px;text-align: center;width: 100%;">
      <button mat-button mat-flat-button (click)="buy(event)">Acheter</button>
      <button mat-button mat-flat-button (click)="validate(event)">Valider</button>
    </div>

  </app-event>

  <app-hourglass [message]="message"></app-hourglass>


  <div *ngIf="events.length==0 && message.length==0">
    <br><br>
    Aucun événement disponible pour l'instant<br><br>
  </div>
</div>
