
    <div style="padding:1%;">
      <button class="app-button" style="margin-top: 10px;" mat-button mat-raised-button
              (click)="fictif()">
        Ajouter un événement fictif
      </button>
      &nbsp;
      <button class="app-button" style="margin-top: 10px;" mat-button mat-raised-button
              (click)="job()">
        Envoyer dans la blockchain
      </button>
      <br>
      <br>

      <div style="width: 100%;display: flex;flex-wrap: wrap;text-align: center;" *ngIf="events.length>0">
        <app-event *ngFor="let event of events" [event]="event" width="100%" style="display: inline-block;">

          <div *ngIf="event.state=='draft' && event.owner==config.user?.address"
               style="width:100%;text-align: left;overflow: hidden;">
            <h4>Vérifier votre événement avant de le mettre en ligne :</h4>
            Si certaines informations ne sont pas correctes, vous supprimez cette version, corriger votre fichier de configuration et le renvoyer<br><br>
            <span *ngIf="event.error!=null">
              Erreur détectée : {{event.error.message}} (Code: {{event.error.code}})<br>
            </span>
            <ngx-json-viewer [json]="event" [expanded]="false"></ngx-json-viewer>
          </div>


          <div *ngIf="state=='online' && (event.preview || event.owner!=config.user?.address)">
            <div *ngIf="event.description?.length>0" style="font-size: small;color:gray;height: 200px;overflow: hidden;">
              {{event.description}}
            </div>
          </div>

          <div *ngIf="!event.preview && event.owner==config.user?.address" style="height:200px;">
            Il reste <br><br>
            <table style="width:100%;text-align: center;">
              <tr *ngFor="let r of event.rows">
                <td>
                  {{r.free}}
                </td>
                <td>
                  places à
                </td>
                <td>
                  {{r.price}}€
                </td>
              </tr>
            </table>

          </div>

          <div style="margin-top: 10px;text-align: center;width: 100%;" *ngIf="event.state=='online'">
            <button class="app-button" mat-button mat-flat-button
                    *ngIf="event.checkers?.indexOf(config.user?.address)==-1"
                    (click)="buy(event)">
              Acheter
            </button>

            <button class="app-button" mat-button mat-flat-button
                    *ngIf="event.owner==config.user?.address && !event.preview"
                    (click)="preview(event)">
              Preview
            </button>

            <button class="app-button" mat-button mat-flat-button
                    *ngIf="event.owner==config.user?.address && event.preview"
                    (click)="sales(event)">
              Ventes
            </button>


            <button class="app-button" mat-button mat-flat-button
                    *ngIf="event.checkers?.indexOf(config.user?.address)>-1"
                    (click)="validate(event)">
              Valider
            </button>
          </div>

          <div style="margin-top: 10px;text-align: center;width: 100%;" *ngIf="event.state=='draft'">
            <button class="app-button" mat-button mat-flat-button (click)="publish(event)">Publier</button>
            <button class="app-button" mat-button mat-flat-button (click)="delete(event)">Supprimer</button>
          </div>

          <app-hourglass *ngIf="event.state=='ready'" message="En attente de publication"></app-hourglass>
          <app-hourglass *ngIf="event.state=='in treatment'" message="En cours d'insertion dans la blockchain"></app-hourglass>

        </app-event>
      </div>

      <app-hourglass [message]="message"></app-hourglass>

      <div *ngIf="events.length==0 && message.length==0">
        <br><br>
        Aucun événement disponible pour l'instant<br><br>
      </div>
    </div>
