<div style="width:100%;margin-left:2px;text-align: center;">

  <app-hourglass [message]="message"></app-hourglass>

  <!--Panel de commande-->
  <div *ngIf="message?.length==0" style="width: 100%;height:40px;">
    <table><tr>
      <td>
          <mat-icon (click)="router.navigate(['home'])"
                    style="cursor: pointer;">
            arrow_back_ios
          </mat-icon>
      </td>
      <td>
        <span *ngIf="nb_places>0">{{nb_places}} places</span>
        <span *ngIf="total>0">&nbsp;pour un total de {{total}}€ </span>
        <span *ngIf="total>0 && etherprice>0">, soit {{total/etherprice | number:'1.1-3'}} ether. </span>
        <span *ngIf="total>0 && config.user?.ether<total/etherprice">Le solde de votre wallet spectacle est insufisant</span>
      </td>
      <td>
        <button class="app-button" mat-button mat-flat-button
                *ngIf="total>0 && total/etherprice<=config.user?.ether"
                style="background-color: darkred;color:white;"
                (click)="buy()">
          &nbsp;&nbsp;Acheter &nbsp;&nbsp;
        </button>
        <button class="app-button" mat-button mat-flat-button
                *ngIf="total/etherprice>config.user?.ether"
                ngxClipboard [cbContent]="config.user?.address"
                (click)="refund()">
          &nbsp;&nbsp;Recharger&nbsp;&nbsp;
        </button>
      </td>

    </tr>
    </table>
    <br>
  </div>
  <br>
  <!--TODO Présentation de l'événement-->


  <!--Zone de filtre-->
  <div style="width: 100%;text-align: center;" *ngIf="cats!=null && message.length==0">
    <mat-form-field style="width:200px;">
      <mat-label>Date</mat-label>
      <mat-select [(value)]="selectDate" (valueChange)="refresh()">
        <mat-option *ngFor="let dt of _dates" [value]="dt">
          {{dt*1000| date:'dd/MM/yyyy'}} à {{dt*1000| date:'HH:mm'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field style="width: 200px;">
      <mat-label>Catégorie</mat-label>
      <mat-select [(value)]="selectCategorie">
        <mat-option *ngFor="let cat of cats" [value]="cat.value">
          {{cat.description}} ({{cat.value}}€)
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="app-button" mat-button mat-flat-button
            *ngIf="selectCategorie!='*'"
            class="app-button" (click)="clearFilter()">
      Tous
    </button>
  </div>

  <!-- Pour l'instant désigne le systeme de sélection des billets unitaires-->
  <!--<div *ngIf="tickets?.length>0 && message?.length==0" style="margin:10px;">-->
  <!--<h3>Billets placées</h3>-->
  <!--<mat-selection-list #select>-->
  <!--<mat-list-option *ngFor="let ticket of tickets"-->
  <!--[value]="ticket._id"-->
  <!--(click)="update_total(select?.selectedOptions?.selected)">-->
  <!--<mat-icon matListIcon>event_seat</mat-icon>-->
  <!--<h3 matLine>Place {{ticket.seat}}</h3>-->
  <!--<p matLine>{{ticket.description}}</p>-->
  <!--<p matLine>-->
  <!--<span>{{ticket.price}}</span>€-->
  <!--<mat-icon style="cursor: pointer;display: inline-block;" ngxClipboard [cbContent]="ticket.address">copy</mat-icon>-->
  <!--</p>-->
  <!--</mat-list-option>-->
  <!--</mat-selection-list>-->
  <!--</div>-->


  <div *ngIf="l_categories.length>0 && message.length==0 && selectDate!=null"
       style="display: flex;flex-wrap: wrap;margin-left:2%;width:97%;">

            <app-ticket *ngFor="let cat of l_categories | filter:[selectCategorie]"
                        style="margin:4px;display:inline-block;"
                        [ticket]="categories[cat]"
                        [title]="categories[cat]?.title"
                        [subtitle]="categories[cat]?.description"
                        [showAction]="false"
            >
              <mat-form-field style="width: 100px;" *ngIf="categories[cat].to_buy>0">
                <mat-label>Acheter</mat-label>
                <mat-select [(value)]="categories[cat].buy" (valueChange)="update_total()">
                  <mat-option *ngFor="let i of categories[cat].range" [value]="i">
                    {{i}} place<span *ngIf="i>1">s</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br><br>
              <span *ngIf="categories[cat].to_buy>0">
                Reste {{categories[cat].to_buy-categories[cat].buy}} places
              </span>

              <span *ngIf="categories[cat].to_buy==0">Plus disponible</span>
            </app-ticket>

  </div>


</div>
