<div style="min-width:400px;margin-left:5px;">
  <!--Panel de commande-->
  <div *ngIf="message?.length==0" style="width: 100%;height:40px;">
    <table><tr>
      <td>
        <button mat-button mat-icon-button class="app-button" (click)="router.navigate(['home'])">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </td>
      <td>
        <button mat-button mat-flat-button
                *ngIf="total>0"
                style="background-color: darkred;color:white;"
                class="app-button" (click)="buy()">
          &nbsp;&nbsp;Acheter &nbsp;&nbsp;
        </button>
        &nbsp;&nbsp;
      </td>
      <td>
        <span *ngIf="nb_places>0">{{nb_places}} places</span>
        <span *ngIf="total>0">&nbsp;pour un total de {{total}}€</span>
        <span *ngIf="etherprice>0">, soit {{total/etherprice |number:'1.1-5'}} ether</span>
      </td>
    </tr></table>

  </div>

  <app-hourglass [message]="message"></app-hourglass>

  <!--Zone de filtre-->
  <div style="width: 100%;text-align: center;" *ngIf="cats!=null && message.length==0">
    <h4>Filtres</h4>
    &nbsp;
    <mat-form-field style="width:200px;">
      <mat-label>Date</mat-label>
      <mat-select [(value)]="selectDate" (valueChange)="refresh()">
        <mat-option *ngFor="let dt of _dates" [value]="dt">
          {{dt*1000| date:'dd/MM/yyyy'}} à {{dt*1000| date:'HH:mm'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field style="width: 200px;">
      <mat-label>Catégorie</mat-label>
      <mat-select [(value)]="selectCategorie">
        <mat-option *ngFor="let cat of cats" [value]="cat.value">
          {{cat.description}} ({{cat.value}}€)
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Pour l'instant désigne le systeme de sélection des billets unitaires-->
  <!--<div *ngIf="tickets?.length>0 && message?.length==0" style="margin:10px;">-->
  <!--<h3>Billets placées</h3>-->
  <!--<mat-selection-list #select>-->
  <!--<mat-list-option *ngFor="let ticket of tickets"-->
  <!--[value]="ticket._id"-->
  <!--(click)="update_total(select?.selectedOptions?.selected)">-->
  <!--<mat-icon matListIcon>event_seat</mat-icon>-->
  <!--<h3 matLine>Place {{ticket.seat}}</h3>-->
  <!--<p matLine>{{ticket.description}}</p>-->
  <!--<p matLine>-->
  <!--<span>{{ticket.price}}</span>€-->
  <!--<mat-icon style="cursor: pointer;display: inline-block;" ngxClipboard [cbContent]="ticket.address">copy</mat-icon>-->
  <!--</p>-->
  <!--</mat-list-option>-->
  <!--</mat-selection-list>-->
  <!--</div>-->


  <div *ngIf="l_categories.length>0 && message.length==0 && selectDate!=null" style="margin: 10px;width:100%;">
    <mat-grid-list
      [cols]="breakpoint"
      rowHeight="100px"
      (window:resize)="onResize($event)"
      style="width: 100%;">

      <div *ngFor="let cat of l_categories">

        <div *ngIf="selectCategorie=='*' || cat==selectCategorie" style="width:100%;text-align: left;">
          <mat-grid-tile style="text-align: left;">
            <div *ngIf="categories[cat].to_buy>0" style="line-height: 95%;">
              <strong>{{categories[cat].description}}</strong><br>
              <small>{{categories[cat].to_buy-categories[cat].buy}} places disponibles<br></small>
              Prix {{cat}}€
            </div>

          </mat-grid-tile>

          <mat-grid-tile>
            <div *ngIf="categories[cat].to_buy>0" style="width:100%;">
              <img [src]="categories[cat].visual" style="margin:5px;width: 80%;height: 125px;object-fit: cover;">
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div *ngIf="categories[cat].to_buy>0">
              <mat-form-field style="width: 100px;">
                <mat-label>Places</mat-label>
                <mat-select [(value)]="categories[cat].buy" (valueChange)="update_total()">
                  <mat-option *ngFor="let i of categories[cat].range" [value]="i">
                    {{i}} place(s)
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

        </div>
      </div>

    </mat-grid-list>

  </div>


</div>
