
<div class="mainform" style="margin-left:10%;width:80%;">
  <br><br>
  <span *ngIf="message && messageCode.length==0">{{message}}</span><br><br>
  <app-hourglass [message]="wait_message"></app-hourglass>
  <div *ngIf="config.user.email.length==0">
    <span *ngIf="message?.length==0">Vous connecter avec</span><br>
    <div style="width: 100%;text-align: center;">
      <div *ngIf="messageCode.length==0">
        <button class="app-button login-button"
                id="cmdGoogle"

                mat-button mat-raised-button
                (click)="socialSignIn('google')">
          Google
        </button>
        <br><br>
        <button class="app-button login-button"
                mat-button mat-raised-button
                id="cmdFacebook"
                (click)="socialSignIn('facebook')">
          Facebook
        </button>
        <br>
      </div>
      <br><br>
      <button class="app-button login-button"
              *ngIf="messageCode.length==0"
              mat-button mat-raised-button
              id="cmdEmail"
              (click)="email_login()">
        Email
      </button>
      <br>
      <app-tuto label="Pour acheter ou vendre des billets, KERBERUS doit connaitre votre adresse mail afin de pouvoir vous envoyer les confirmations de vos transactions"></app-tuto>

      <div *ngIf="messageCode.length>0">
        <br><br><br>
        {{messageCode}}<br>
        <br>

        <mat-form-field class="form-field-style" style="width: 100px !important;" >
          <input type="text" matInput
                 id="txtCode"
                 maxlength=6
                 title="Saisissez votre code d'accès à 6 chiffres"
                 placeholder="Code d'accès"
                 [(ngModel)]="code"
                 (change)="updateCode($event)">
        </mat-form-field>
        <br>
        <app-tuto label="Le code à 6 chiffres vous a été envoyé sur votre adresse mail à votre première authentification. Si vous ne retrouvez pas le mail vous pouvez vous le faire renvoyer par KERBERUS"></app-tuto>

        <br>
        <button class="app-button login-button"
                mat-button mat-raised-button
                *ngIf="code.length>3 && code.length<7"
                id="cmdValider"
                (click)="updateCode({target:{value:code}})">
          Valider
        </button>
        <br><br><br>
        <div *ngIf="code.length<4">
          <button class="app-button login-button"
                  mat-button mat-raised-button
                  id="cmdResend"
                  (click)="resend_code()">
            Renvoyer le code
          </button>
          &nbsp;
          <button class="app-button login-button"
                  mat-button mat-raised-button
                  id="cmdReset"
                  (click)="next()">
            Rester anonyme
          </button>
        </div>

        <br>

      </div>

    </div>
  </div>



  <!--Zone d'acceuil-->
  <div *ngIf="config.user.email.length>0">
    <h1>Bonjour {{config.user.pseudo}}</h1>
    <br>
    <img *ngIf="config.user.photo?.length>0"
         [src]="config.user.photo" width="150px"
         height="150px"
         class="image-photo">
    <br><br>


      Maintenant que votre mail est enregistré vous allez pouvoir acheter des places directement dans {{config.values.appname}}<br>
      et même gérer les billets de vos propres événements si vous le souhaitez

    <br>
    <br>

    <button class="app-button"
            id="cmdGoStore"
            mat-button mat-raised-button
            (click)="next()">
      Continuer
    </button>

  </div>

</div>





