
  <app-ticket width="120px"
              *ngFor="let ticket of tickets"
              [title]="(ticket.date*1000) | date:'dd/MM/yy'"
              subtitle=""
              [showAction]="ticket.state=='sold'"
              [ticket]="ticket">
    <div *ngIf="ticket.state=='sold'">
      <div *ngIf="ticket.seat!=null">
        <mat-icon>event_seat</mat-icon>&nbsp;
        {{ticket.seat}}
      </div>
      <div *ngIf="ticket.seat==null">
        Référence #{{ticket.ref}}
      </div>
    </div>

    <app-hourglass *ngIf="ticket.state=='reserved'" message="En cours de réservation"></app-hourglass>
    <app-hourglass *ngIf="ticket.state=='to_transfer'" message="En cours de transfert"></app-hourglass>

  </app-ticket>
  <app-hourglass [message]="message"></app-hourglass>
