

  <app-ticket width="150px"
              style="margin:5px;"
              *ngFor="let ticket of tickets"
              [title]="(ticket.date*1000) | date:ticket.format_date"
              [subtitle]="ticket.price+'€'"
              [showAction]="ticket.state=='sold'"
              [ticket]="ticket">

    <div *ngIf="ticket.state=='sold'">
      <div *ngIf="ticket.seat!=null">
        <mat-icon>event_seat</mat-icon>&nbsp;
        Place {{ticket.seat}}
      </div>

      <div *ngIf="ticket.seat==null">
        Référence #{{ticket.ref}}<br>
        <div style="font-size: xx-small;line-height: 95%;">
          {{ticket.description}}
        </div>
      </div>
    </div>

    <app-hourglass fontsize="small" *ngIf="ticket.state=='reserved' || ticket.state=='to_create'" message="En cours de sécurisation" faq="waiting"></app-hourglass>
    <app-hourglass fontsize="small" *ngIf="ticket.state=='to_transfer'" message="En cours de transfert" faq="waiting"></app-hourglass>

  </app-ticket>


