<div class="mainform">

  <app-hourglass [message]="message"></app-hourglass>
  <app-tuto title="Gérez les billets de votre événement !"
            image="https://www.lotoquine.com/4001-large_default/tickets-en-rouleaux-personnalises.jpg"
            subtitle="Afin de simplifier la fabrication d'événement, KERBERUS vous propose plusieurs modèles totalement personnalisables">
  </app-tuto>

  <br>
  <button class="app-button"
          style="margin-top: 10px;"
          mat-button mat-raised-button
          *ngIf="selTemplate!=null && !showCode"
          (click)="back_list()">
    <div class="bloc-bouton">Retour à la<br>liste des modèles</div>
  </button>
  <br>


  <div *ngIf="selTemplate==null">
    Sélectionner un modèle d'événement
    <app-faq-link faq="build_event"></app-faq-link>
    <br><br>
    <div style="display: flex;flex-wrap: wrap;width:100%;justify-content: center;">
      <div *ngFor="let template of templates"
           name="template"
           style="cursor:pointer;font-size:x-small;width:150px;height:250px;text-align: center;margin: 15px;"
           (click)="openModele(template)">
        <div style="height:25px;">{{template.title}}</div>
        <img class="image-photo"
             [src]="template.visual"
             style="width:150px;height:150px;">
        <br>
        {{template.description}}
      </div>
    </div>
  </div>

  <div *ngIf="selTemplate">
      <h2>{{selTemplate.title}}</h2>
      <small>{{selTemplate.description}}</small>
    <br><br>
    <app-tuto label="Vous pouvez recevoir le modèle sur votre mail, le personnaliser et nous le renvoyer pour publication immédiate,
                     OU pouvez directement publier le modèle comme un événement fictif. Dans ce cas, seul les profils pilotes
                     pour 'fictivement' acheter des places. C'est un bon moyen de tester gratuitement KERBERUS">
    </app-tuto>

    <div *ngIf="!showCode" style="width:100%;text-align: center;font-size: small;">
      <img class="image-photo"
           (click)="showCode=true"
           [src]="selTemplate.visual"
           style="width:250px;height:250px;">
      <br>

        <br>

        Adapter ce modèle à votre événement<br>
        <button class="app-button "
                style="margin-top: 10px;"
                mat-button mat-raised-button
                (click)="showCode=true">
          Editer
        </button>


    </div>

    <div *ngIf="showCode" style="width:94%;margin-left:3%;touch-action: none;" (keypress)="updateCode($event)">
      <table style="font-size: small;">
        <tr>
          <td>
            <mat-form-field style="width:100px;" >
              <mat-label>Propriétés</mat-label>
              <mat-select [(value)]="select_prop">
                <mat-option *ngFor="let prop of properties" [value]="prop">{{prop}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            {{yaml_help[select_prop]}}
          </td>
        </tr>
      </table>

      <ngx-monaco-editor [options]="editorOptions"
                         style="text-align: left;height:400px;"
                         [(ngModel)]="code">
      </ngx-monaco-editor>
      <br>
      Vous pouvez directement modifier les paramètres du modèle pour créer votre événement.<br>
      <br>
      <hr>
      <br>

      <button class="app-button"
              style="margin-top: 10px;"
              mat-button mat-raised-button
              (click)="showCode=false">
        Fermer
      </button>
      &nbsp;
      <button class="app-button"
              style="margin-top: 10px;"
              *ngIf="showPublish"
              mat-button mat-raised-button
              (click)="publish()">
        Publier
      </button>
      &nbsp;
      <button class="app-button"
              style="margin-top: 10px;"
              *ngIf="!showPublish"
              mat-button mat-raised-button
              (click)="check_event()">
        Vérifier
      </button>
    </div>

    <br>
    <br>

    <table style="width: 100%;" *ngIf="!showCode">
      <tr style="font-size: small;">
        <td style="width: 50%;">
          Créer un évenement fictif depuis ce modèle<br>
          pour tester gratuitement {{config.values.appname}}
          <app-faq-link faq="fictif"></app-faq-link>
        </td>
        <td></td>
        <td *ngIf="config.user?.email">
          Recevoir ce modèle sur votre mail, le personnaliser<br>et le renvoyer pour créer votre événement
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <button class="app-button"
                  style="margin-top: 10px;"
                  id="cmdCreateFictif"
                  mat-button mat-raised-button
                  (click)="fictif()">
              Evénement fictif
          </button>
        </td>
        <td style="width: 10%;"></td>
        <td>
          <button class="app-button "
                  style="margin-top: 10px;"
                  id="cmdSendTemplate"
                  *ngIf="config.user?.email"
                  mat-button mat-raised-button
                  (click)="sendDemo()">
              Recevoir ce modèle
          </button>
        </td>
      </tr>
    </table>

  </div>

</div>
