<div class="mainform">


<table style="text-align: center;"><tr>
          <td *ngIf="config.is_admin()">
            <button class="app-button" style="margin-top: 10px;"
                    mat-button mat-raised-button
                    (click)="fictif()">
              Evénement fictif
            </button>
          </td>
          <td>
            <app-hourglass [message]="message"></app-hourglass>
          </td>
        </tr></table>


<br><br>
En attendant vous pouvez envoyer un mail à ticketshare@f80.fr
en respectant la syntaxe
YAML

</div>
