<app-hourglass [message]="message"></app-hourglass>
<div style="width: 100%;text-align: center">
  <h2>Destinataire</h2>
  <div style="width: 80%;margin-left:10%;">
    Attention, le transfert d'un billet est définitif. En cas d'erreur vous ne pourrez le récupérer que si le destinataire accepte de vous le renvoyer
  </div>

  <app-scanner [size]="320"
               *ngIf="config.webcamsAvailable>0"
               (flash)="onflash($event)">
  </app-scanner>

<br>
<mat-form-field class="form-field-style" style="width: 90%;margin-right: 5%;max-width:400px;">
  <input type="text" matInput
         id="txtAddress"
         title="Saisissez l'adresse de votre compte Ethereum"
         placeholder="Adresse du destinataire"
         [(ngModel)]="address"
         (keypress)="onenter($event)">
</mat-form-field>
<br>
<br>
<button class="app-button" mat-button mat-raised-button
        (click)="transfert(address)">
  Envoyer
</button>


</div>
