<app-hourglass [message]="message"></app-hourglass>

<!--<div style="width: 100%;text-align: center" *ngIf="config.user?.ether==0">-->
  <!--<br><br><br>-->
  <!--<h3>Pour transfèrer des billets vous devez posséder au moins 0.01 ether</h3>-->
  <!--<br>-->
  <!--<br>-->
  <!--<div *ngIf="config.user?.refund?.length>0">-->
    <!--Utiliser ce lien pour placer des éthers sur votre compte en suivant la procédure indiquer sur la page. L'adresse de votre compte est déjà dans votre presse-papier<br><br>-->
    <!--<a [href]="config.user?.refund" target="_blank" ngxClipboard [cbContent]="config.user?.address">Charger votre compte</a>-->
  <!--</div>-->
<!--</div>-->

<div class="mainform" *ngIf="true || config.user?.ether>0">
  <h2>Offrir un billet</h2>
  <div style="width: 80%;margin-left:10%;">
    Attention, le transfert d'un billet est définitif. En cas d'erreur vous ne pourrez le récupérer que si le destinataire accepte de vous le renvoyer
  </div>

  <app-scanner [size]="320"
               *ngIf="config.webcamsAvailable>0"
               (flash)="onflash($event)">
  </app-scanner>


  <br>
  <mat-form-field class="form-field-style" style="width: 90%;margin-right: 5%;max-width:400px;text-align: center;">
    <input type="text" matInput
           id="txtAddress"
           autofocus
           title="Saisissez l'adresse de votre compte Ethereum"
           placeholder="Adresse du destinataire"
           [(ngModel)]="address"
           (keypress)="onenter($event)">
  </mat-form-field>
  <br>
  <br>
  <button class="app-button" mat-button mat-raised-button
          (click)="transfert(address)">
    Envoyer
  </button>


  <app-tuto [if]="config.webcamsAvailable==0"
            label="Lorsqu'on dispose d'une caméra, KERBERUS permet le transfert des billets en flashant simplement le wallet du destinataire">
  </app-tuto>


</div>
