<div class="mainform">

  <app-hourglass [message]="message"></app-hourglass>

<div *ngIf="events?.length==0 && message.length==0" >
  <br>Actuellement, vous n'avez pas de billets.
  <br><br>
  <button class="app-button"
          mat-button mat-raised-button
          (click)="router.navigate(['store'])">
    Billeterie
  </button>

  <br><br><br>
  en recevoir directement<br><br>
  <qr-code [size]="150"
           style="display: inline-block;vertical-align: middle;"
           title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
           ngxClipboard
           [cbContent]="config.user?.address"
           [value]="config.user?.address">
  </qr-code>
  <br>
  <app-tuto label="Vous amis peuvent vous envoyer des billets sur votre compte en flashant ce code après avoir demandé le transfert des billets sur l'application"></app-tuto>
</div>




<div *ngIf="config.user?.nextEvent<7000">
  Présenter ce QRCode au contrôle des billets<br>
  <qr-code [size]="150"
           style="display: inline-block;vertical-align: middle;"
           title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
           ngxClipboard
           [cbContent]="config.user?.address"
           [value]="config.user?.address">
  </qr-code>
</div>


<!--Affichage de l'événement-->

<app-event width="95%"
           maxwidth="600px"
           height="0"
           *ngFor="let event of events"
           [event]="event">

  <div *ngIf="event.state=='cancel' || event.state=='manual_cancel'">
    <span style="color: red;font-size: large;">Evénement annulé</span>
    <br>
    <div *ngIf="event.state=='manual_cancel'">
      Rendez-vous <strong>{{event.refund_address}}</strong>
      <br>pour obtenir le remboursement des billets</div>
    <br>
  </div>

  <div *ngIf="event.state=='closed'">
    <span style="color: red;font-size: large;">Evénement terminé</span>
  </div>

  <app-tuto label="Après achat, KERBERUS sécurise votre achat. Ce traitement peut prendre quelques minutes"></app-tuto>


  <div *ngIf="event.state!='reserved' && event.state!='cancel' && event.state!='closed'">
    <div *ngIf="!event?.hasOwnProperty('showTickets')" style="margin-top: 10px;text-align: center;width: 100%;">
      <button class="app-button" mat-button mat-flat-button (click)="myplaces(event)">
        <div class="bloc-bouton">Voir mes<br>billets</div>
      </button>
    </div>
    <div *ngIf="event?.showTickets" style="width: 100%;">
      <app-tuto label="Si vous le souhaitez vous pouvez envoyer/offrir vos billets à des amis" icon="card_gift"></app-tuto>
      <app-mytickets style="min-height:200px;width:100%;display: flex;flex-wrap: wrap;justify-content: center;"
                     [tickets]="event.reserved">
      </app-mytickets>
    </div>
  </div>

  <button class="app-button"
          mat-button mat-flat-button
          *ngIf="event?.state?.indexOf('cancel')==-1"
          (click)="buy_other(event)">
    <div class="bloc-bouton">Acheter plus<br>de billets</div>
  </button>

</app-event>
</div>
