<div class="mainform">


<div *ngIf="config.user?._events==null || config.user?._events?.length==0" >
  <br>Actuellement, vous n'avez pas de billets.
  <br><br>
  <button class="app-button" mat-button mat-raised-button (click)="router.navigate(['store'])">Billeterie</button>

  <br><br><br>
  en recevoir directement<br><br>
  <qr-code [size]="150"
           style="display: inline-block;vertical-align: middle;"
           title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
           ngxClipboard
           [cbContent]="config.user?.address"
           [value]="config.user?.address">
  </qr-code>
</div>

<div *ngIf="config.user.nextEvent<7000">
  Présenter ce QRCode au contrôle des billets<br>
  <qr-code [size]="150"

           style="display: inline-block;vertical-align: middle;"
           title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
           ngxClipboard
           [cbContent]="config.user?.address"
           [value]="config.user?.address">
  </qr-code>
</div>


<!--Affichage de l'événement-->

<app-event width="95%"
           maxwidth="600px"
           height="0"
           *ngFor="let event of config.user?._events"
           [event]="event">
  <div *ngIf="event.state=='cancel'">
    Evénement annulé
  </div>

  <div *ngIf="event.state=='closed'">
    Evénement terminé
  </div>

  <app-tuto label="Après achat, KERBERUS sécurise votre achat. Ce traitement peut prendre quelques minutes"></app-tuto>

  <div *ngIf="event.state!='reserved' && event.state!='cancel' && event.state!='closed'">
    <div *ngIf="!event?.hasOwnProperty('showTickets')" style="margin-top: 10px;text-align: center;width: 100%;">
      <button class="app-button" mat-button mat-flat-button (click)="myplaces(event)">Voir mes billets</button>
    </div>
    <div *ngIf="event?.showTickets" style="width: 100%;">
      <app-tuto label="Si vous le souhaitez vous pouvez envoyer/offrir vos billets à des amis" icon="card_gift"></app-tuto>
      <app-mytickets style="width:100%;display: flex;flex-wrap: wrap;justify-content: center;"
                     [tickets]="event.reserved">
      </app-mytickets>
    </div>
  </div>
</app-event>
</div>
