<div *ngIf="config.user?._events==null || config.user?._events?.length==0" style="margin-top:30%;text-align: center;">
  Vous n'avez pas de billets
  <br><br>
  <button mat-button mat-raised-button (click)="router.navigate(['store'])">En Trouver</button>
</div>


<!--Affichage de l'événement-->
<app-event width="40vw" height="0" *ngFor="let event of config.user?._events" [event]="event">

  <div style="width: 100%;text-align: center;font-size: large;margin-top: 15px;">
    <br>
    Le {{event.date*1000 | date:'dd/MM'}}
  </div>

  <div *ngIf="!event?.hasOwnProperty('showTickets')" style="margin-top: 10px;text-align: center;width: 100%;">
    <button mat-button mat-flat-button (click)="myplaces(event)">Voir mes billets</button>
  </div>
  <div *ngIf="event?.showTickets" style="width: 100%;text-align: center;">
    <app-mytickets [event]="event"></app-mytickets>
  </div>

</app-event>
