<!--The content below is only a placeholder and can be replaced.-->
<button type="button" mat-button mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<a [routerLink]="['home']"><mat-icon>home</mat-icon></a>
<a [routerLink]="['store']"><mat-icon>shopping_cart</mat-icon></a>
<a [routerLink]="['validate']"><mat-icon>check_circle</mat-icon></a>
<a [routerLink]="['admin']"><mat-icon>build</mat-icon></a>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
   menu
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>


