<!--The content below is only a placeholder and can be replaced.-->

<app-tuto title="Bienvenue dans khfjkds KERBERUS"
          subtitle="La première billeterie totalement sécurisée par la blockchain"
          main_button="Démarrer"
          [force]="true"
          image="https://cdn.dribbble.com/users/612987/screenshots/4309700/cerberus-logo.jpg">
</app-tuto>

<mat-toolbar style="height:40px;">
  <mat-icon *ngIf="config.width_screen<=800"
            id="cmdMenu"
            (click)="drawer.toggle()"
            style="cursor: pointer;">
    menu
  </mat-icon>

  &nbsp;&nbsp;
  <span>
    {{config.values.appname}}
  </span>
  &nbsp;
  <span style="font-size: xx-small;font-style: italic;">{{config.values.version}}</span >

  <span class="example-fill-remaining-space"></span>

  <mat-icon *ngIf="config.user?.email?.length>0" (click)="logout()" style="cursor: pointer;">exit_to_app</mat-icon>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >
    <app-home *ngIf="message.length==0" (click)="closeMenu()"></app-home>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-hourglass [message]="message"></app-hourglass>
    <router-outlet *ngIf="message.length==0"></router-outlet>
  </div>

</mat-drawer-container>



