<!--Résumé de la commande-->

<div style="width: 100%;text-align: center;">


<br><br>
  <table style="width:80%;max-width: 400px;text-align: left;margin-left:10%;">
    <tr>
      <td>
        Sur votre compte, vous disposez de
      </td>
      <td style="text-align: right;">
        {{config.user?.money | number:'1.0-1'}}€
      </td>
    </tr>

    <tr *ngIf="order?.nb_places>0 && order?.total>0">
      <td>
        Vous souhaitez {{order?.nb_places}} places pour un total de
      </td>
      <td style="text-align: right;">
        -{{order?.total | number:'1.0-1'}}€
      </td>
    </tr>
    <tr>
      <hr>
    </tr>
    <tr>
      <td>
        Solde après achat
      </td>
      <td style="text-align: right;">
        {{this.config.user.money-this.order.total | number:'1.0-1'}}€
      </td>
    </tr>

  </table>

  <div *ngIf="order?.total>0 && config.user?.money<order?.total" style="color:darkred;">
    <br>
    Il manque {{-amount_to_credit | number:'1.0-1'}}€ sur votre compte pour acheter les places
  </div>
<br>
<br>

  <div *ngIf="order.total<=config.user?.money">
    <button class="app-button" mat-button mat-flat-button
            *ngIf="order?.total<=config.user?.money"
            (click)="_location.back()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Modifier
    </button>
    &nbsp;
    <button class="app-button" mat-button mat-flat-button
            *ngIf="order?.total<=config.user?.money"
            style="background-color: darkred;color:white;"
            (click)="buy()">
      <span *ngIf="order?.total>0">Confirmer</span>
      <span *ngIf="order?.total==0">Réserver</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div *ngIf="order.total>config.user?.money">
    <app-refund [amounts]="[-amount_to_credit,50,100]"
                [user]="config.user"
                [items]="tickets"
                *ngIf="order?.total>config.user?.money"
                [sandbox]="config.user?.offer=='pilote'"
                (payment)="onpayment($event)">
    </app-refund>
  </div>
</div>
