<!--Résumé de la commande-->

<div style="width: 100%;text-align: center;">

<br><br>
<span *ngIf="order?.nb_places>0">Vous souhaitez {{order?.nb_places}} places</span>
<span *ngIf="order?.total>0">&nbsp;pour un total de {{order?.total}}€ </span>
<div *ngIf="order?.total>0 && config.user?.money<order?.total" style="color:darkred;">
  Il manque {{order.total-config.user?.money}}€ sur votre compte pour acheter les places
</div>
<br>
<br>

  <div *ngIf="order.total<=config.user?.money">
    <button class="app-button" mat-button mat-flat-button
            *ngIf="order?.total>0 && order?.total<=config.user?.money"
            style="background-color: darkred;color:white;width:200px;"
            (click)="buy()">
      Acheter
    </button>
  </div>

  <div *ngIf="order.total>config.user?.money">

          <app-refund [amounts]="[order?.total-config.user?.account]"
                      [user]="config.user"
                      [items]="tickets"
                      *ngIf="order?.total>config.user?.money"
                      [sandbox]="config.user?.offer=='pilote'"
                      (payment)="onpayment($event)">
          </app-refund>


  </div>
</div>
