<mat-expansion-panel [expanded]="expanded"
                     class="event-card"
                     (opened)="_event.expanded=true"
                     (closed)="_event.expanded=false"
                     [ngStyle]="{'width':width,'max-width':maxWidth,'background-color': config.values.colors.bkevent,'padding':'0px !important','margin':'0px !important'}">

  <mat-expansion-panel-header collapsedHeight="60px"
                              style="padding:14px !important;text-align: left;"
                              expandedHeight="20px">

    <div style="width:100%;margin:5px;">
      <strong>{{_event.name}}</strong>
      <br>
      <small>{{_event.salle}}</small>
      <div *ngIf="!_event.expanded">
        <br>
        <span *ngIf="_event.error!=null && _event.error.message!=null">{{_event.error.message}}</span>
      </div>

    </div>



  </mat-expansion-panel-header>

  <div [ngStyle]="{'width': '100%','min-height': height}">
    <img class="visual-event" [src]="_event.visual" alt="Visuel du ticket">
  </div>
  <br>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions *ngIf="showAction">
    <button class="app-button" mat-button mat-flat-button>LIKE</button>
    <button class="app-button" mat-button mat-flat-button (click)="openMap()">Y ALLER</button>
    <button class="app-button" mat-button mat-flat-button>SHARE</button>
  </mat-card-actions>
</mat-expansion-panel>

