<mat-expansion-panel [expanded]="expanded"
                     class="event-card"
                     (opened)="_event.expanded=true"
                     (closed)="_event.expanded=false"
                     [ngStyle]="{
                       'width':width,
                       'max-width':maxWidth,
                       'background-color': config.values.colors.bkcard,
                       'padding':'0px !important',
                       'margin':'0px !important'
                     }">

  <mat-expansion-panel-header collapsedHeight="30px"
                              style="padding:14px !important;text-align: left;"
                              expandedHeight="20px">

    <div style="width:100%;">
      <strong>{{_event.name}}</strong>
      <br>
      <span *ngIf="_event.expanded"><small>{{_event.salle}}</small></span>
      <div *ngIf="!_event.expanded" style="margin:0;padding:0">
        <app-hourglass style="font-size: small" [message]="message"></app-hourglass>
        <span *ngIf="_event.error!=null && _event.error.message!=null && _event.treatment?.length==0" style="color: red;">{{_event.error.message}}</span>
      </div>

    </div>

  </mat-expansion-panel-header>

  <div [ngStyle]="{'width': '100%','min-height': height}">
    <img class="visual-event" [src]="_event.visual" alt="Visuel du ticket">
  </div>
  <br>

  <!--Affichage du contenu de l'événement-->
  <mat-card-content style="width: 100%;">
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions *ngIf="showAction">
    <button class="app-button" mat-button mat-flat-button>LIKE</button>
    <button class="app-button" mat-button mat-flat-button (click)="openMap()">Y ALLER</button>
    <button class="app-button" mat-button mat-flat-button>SHARE</button>
  </mat-card-actions>
</mat-expansion-panel>

