<div class="app-card" style="text-align: center">

  <h2>{{config.values?.appname}}</h2>
  <h3>{{config.values?.claim}}</h3>

  <p>
    hello {{config.user?.pseudo}}
  </p>

  <div *ngIf="config.user?._id?.length>0">
    <qr-code [size]="150"
             style="display: inline-block;vertical-align: middle;"
             title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
             ngxClipboard
             [cbContent]="config.user._id"
             (click)="informe_copy()"
             [value]="config.user._id">
    </qr-code>
  </div>
  <br><br>
  <button mat-button mat-flat-button class="app-button" (click)="router.navigate(['store'])">Store</button>
  <button mat-button mat-flat-button class="app-button" (click)="logout()">Logout</button>

  <div *ngIf="config.user?._events?.length>0">
    <h2>Vos billets</h2>
    <div *ngFor="let _evt of config.user._events">
      {{_evt.name}} le {{_evt.date}}
    </div>
  </div>

  <br>
  <small>Version:{{config.values.version}}</small>

</div>

