<div class="app-card" style="text-align: center">
  <h2>{{config.values?.appname}}</h2>
  <h3>{{config.values?.claim}}</h3>
  <br>

  <p>
    hello {{config.user?.pseudo}}<br>
    <span *ngIf="config.user?.ether>0">{{config.user?.ether}} ether</span>
  </p>

  <div *ngIf="config.user?._id?.length>0">
    <qr-code [size]="150"
             style="display: inline-block;vertical-align: middle;"
             title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
             ngxClipboard
             [cbContent]="config.user._id"
             (click)="informe_copy()"
             [value]="config.user._id">
    </qr-code>
  </div>
  <br><br>
  <button mat-button mat-flat-button class="app-button" (click)="router.navigate(['store'])">Boutique</button>
  <button mat-button mat-flat-button class="app-button" (click)="logout()">Logout</button>
  <button mat-button mat-flat-button class="app-button" (click)="send_codes()">Codes</button>

  <br>
  <div *ngIf="config.user?._events?.length>0">
    <h2>Vos prochains concerts</h2>
    <div *ngFor="let _evt of config.user._events" (click)="openEvent(_evt)">
      {{_evt.name}} le {{_evt.date*1000 | date:'dd/MM'}}
    </div>
  </div>
</div>
<app-about></app-about>

