<div class="app-card" style="text-align: center;height: 80vh;">

  <span *ngIf="config.user?.pseudo?.length>0">
    {{config.user?.pseudo}}
    <span *ngIf="config.user?.money>=0">
      /
    </span>
  </span>
  <span *ngIf="money>=0">
      {{money |number:'1.0-1'}} €
  </span>


  <div *ngIf="config.user?.address?.length>0"
       ngxClipboard
       title="Cliquez sur le QRCode pour enregistrer l'adresse de votre wallet spectacle dans le presse-papier"
       [cbContent]="config.user?.address"
       (click)="informe_copy()">
    <qr-code [size]="150"
             style="display: inline-block;vertical-align: middle;"
             [value]="config.user?.address">
    </qr-code>
    <br>
    <div style="font-size: x-small;line-height: 105%;">
      {{config.user?.address.substr(0,20)}}<br>
      {{config.user?.address.substr(21)}}
    </div>
  </div>
  <br>
  <br>
  <mat-nav-list>
    <a title="Accédez à tous vos billets"
       *ngIf="config.user?.email?.length>0"
       mat-list-item routerLink="myevents" id="cmdMyPlaces">
      <mat-icon>event_seat</mat-icon>
      &nbsp;&nbsp;Mes billets achetés
    </a>


    <a title="Accèdez à l'ensemble des événements disponibles" mat-list-item routerLink="search" id="cmdStore">
      <mat-icon>shopping_cart</mat-icon>
      &nbsp;&nbsp;Billeterie
    </a>

    <a title="Accèdez à l'ensemble de mes évélements" mat-list-item routerLink="store"
       *ngIf="config.user?.email?.length>0"
       [queryParams]="{onlyMyEvents:true}" id="cmdMyEvents">
      <mat-icon>account_balance</mat-icon>
      &nbsp;&nbsp;Mes événements
    </a>

    <a title="Vos préférence" mat-list-item routerLink="settings" id="cmdSettings" *ngIf="config.user?.email?.length>0">
      <mat-icon>build</mat-icon>
      &nbsp;&nbsp;Préférences
    </a>


    <a title="Associé un email à votre wallet spectacle" mat-list-item routerLink="login" *ngIf="config.user?.email==''" id="cmdLogin">
      <mat-icon>person</mat-icon>
      &nbsp;&nbsp;Se connecter
    </a>
    <br><br>


    <a mat-list-item routerLink="about">
      <mat-icon>home</mat-icon>
      &nbsp;&nbsp;A propos
    </a>

    <a mat-list-item (click)="openFAQ()">
      <mat-icon>help</mat-icon>
      &nbsp;&nbsp;FAQ
    </a>


    <br>

   <a mat-list-item routerLink="admin"
      *ngIf="config.is_admin()">
      <mat-icon>build</mat-icon>
      &nbsp;&nbsp;Admin
  </a>

  </mat-nav-list>

</div>

