<mat-card class="example-card" [ngStyle]="{'width':width}">
  <mat-card-header style="text-align: center !important;">
    <mat-card-title style="line-height: 80% !important;" *ngIf="title">
      <small>{{title}}</small>
    </mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">
      {{subtitle}}
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image style="height:100px;" [src]="ticket.visual" alt="Visuel du ticket">

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions *ngIf="showAction">
    <button class="app-button"
            mat-button mat-flat-button mat-icon-button
            (click)="openShare(ticket)">
      <mat-icon>card_giftcard</mat-icon>
    </button>

    <button class="app-button" mat-button mat-flat-button
            mat-icon-button ngxClipboard [cbContent]="ticket.address">
      <mat-icon>code</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
