<mat-card class="example-card" [ngStyle]="{'width':width}">
  <mat-card-header>
    <mat-card-title style="font-size: medium;" *ngIf="title">
      {{title}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">
      {{subtitle}}
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
       style="max-height:100px;width:105%;"
       *ngIf="ticket.visual?.length>0"
       [src]="ticket.visual"
       alt="Visuel du ticket">

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>


  <mat-card-actions *ngIf="showAction">
    <button
            *ngIf="transferable"
            mat-button mat-flat-button mat-icon-button
            (click)="openShare(ticket)">
      <mat-icon>card_giftcard</mat-icon>
    </button>

    <button mat-button mat-flat-button
            *ngIf="config?.infos_server.islocal && ticket.address?.length>0"
            mat-icon-button ngxClipboard [cbContent]="ticket.address">
      <mat-icon>code</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
