<div class="mainform">

  <app-tuto label="La section développeur est réservé aux organisateurs d'événement souhaitant interfacer KERBERUS avec leur propre système de billeterie"></app-tuto>
  <app-tuto faq="api_key" [delay]="5" label="La clé développeur doit être insérer dans chaque appel d'API en paramètre ou de façon plus sécurisé dans le header de la requête"></app-tuto>

  <button
    title="Retour"
    class="app-button"
    mat-button mat-raised-button
    (click)="_location.back()">
    Retour
  </button>
  &nbsp;



  <br><br>
  <h3>Que souhaitez-vous faire ?</h3>
  <br>
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
      <br>
      <div style="width:80%;display: inline-block;">
        {{tab.intro}} grâce à l'API: '<strong>{{tab.api_name}}</strong>'
        <br><br>
        <div style="overflow-wrap: break-word;margin:10px;width: 80%;display: inline-block;color:grey;font-size: small;font-family: SansSerif;">
          <strong>Syntaxe</strong>:<br>
          {{config.infos_server.domain}}/api/{{tab.api}}
        </div>

        <br><br>
      </div>

      <br>
      <button class="app-button" mat-button mat-flat-button
              name="cmdOpenAPI"
              (click)="open_api(tab.api)">
        <div class="bloc-bouton">Exemple d'appel <br>de l'API</div>
      </button>
      &nbsp;
      <button class="app-button" mat-button mat-flat-button
              *ngIf="tab.sample.length>0"
              (click)="open_frame(tab.sample)">
        <div class="bloc-bouton">Démonstration<br>d'utilisation</div>
      </button>
      &nbsp;
      <button class="app-button" mat-button mat-flat-button
              *ngIf="tab.source.length>0"
              (click)="open_frame(tab.source)">
        <div class="bloc-bouton">Voir le<br>code source</div>
      </button>

      <br><br><br><hr><br>

      <h3>Questions fréquentes</h3>
      <iframe [src]="tab.faq | safe:'resourceUrl'" style="width: 95%;height:400px;border:none;"></iframe>

    </mat-tab>
    <mat-tab label="Récupérer votre clé développeur">
      <div style="width:80%;display: inline-block;">
        <br><br>
        L'usage des API nécéssite de transmettre à chaque appel un identifiant la clé développeur. Une fois récupérer
        celle ci doit figurer dans vos appels aux API<app-faq-link faq="dev_token">(en savoir plus)</app-faq-link>
        <br><br><br>
        <button
          class="app-button" mat-button mat-flat-button
          id="cmdCopieCle"
          *ngIf="config.user?.access_token?.length>20"
          [cbContent]="config.user?.access_token"
          ngxClipboard
          (click)="informe_copy('Votre clé développeur est disponible')">
          <div class="bloc-bouton">Copier votre clé<br>d'authentification</div>
        </button>

        <button
          class="app-button" mat-button mat-flat-button
          id="cmdRenewKey"
          *ngIf="config.user?.access_token?.length>20"
          (click)="renew_key()">
          <div class="bloc-bouton">Renouveller<br>votre clé</div>
        </button>
      </div>
    </mat-tab>

  </mat-tab-group>



</div>
