<mat-progress-spinner *ngIf="hourglass"></mat-progress-spinner>

<div style="width:100%;text-align: center;margin-top:10%;" *ngIf="showScanner && !hourglass">
  <app-scanner [size]="300"
               *ngIf="config.webcamsAvailable>0"
               (flash)="onflash_event($event)">
  </app-scanner>

  <mat-form-field class="form-field-style" style="width: 60%;margin-right: 5%;">
    <input type="text" matInput
           id="txtAddress"
           title="Saisissez l'adresse de votre compte Ethereum"
           placeholder="Adresse du compte"
           [(ngModel)]="address"
           (change)="update_addr($event)">
  </mat-form-field>
  <button mat-button mat-raised-button (click)="update_addr(address)">Rechercher</button>
</div>

<div style="width:100%;text-align: center;margin-top:10%;" *ngIf="to_burn.length>0">
  <div *ngFor="let ticket of to_burn">
    Place: {{ticket.seat}} -
    <button mat-button mat-raised-button (click)="burn(ticket)">Burn</button>
    <br>
  </div>
</div>

