<app-hourglass [message]="message"></app-hourglass>
<div style="width:96%;margin-left:2%;text-align: center;" *ngIf="message.length==0">
  <h3>Validation pour {{_event?.name}}</h3>

  <div *ngIf="config.webcamsAvailable>0">

    <button class="app-button" mat-button mat-raised-button
            *ngIf="!showScanner"
            (click)="showScanner=true">
      <mat-icon>power_on</mat-icon>Scanner
    </button>
    <br>

    <app-scanner [size]="200"
                 (click)="showScanner=false"
                 *ngIf="showScanner"
                 (flash)="onflash_event($event)">
    </app-scanner>
    <br>
  </div>

  <mat-form-field class="form-field-style" style="width: 70%;max-width: 300px;">
    <input type="text" matInput
           id="txtAddress"
           title="Saisissez l'adresse de votre compte Ethereum"
           placeholder="Adresse du wallet du visiteur"
           [(ngModel)]="address"
           (change)="update_addr($event)">
  </mat-form-field>
  <br>

  <button class="app-button" mat-button mat-raised-button
          *ngIf="address!=null && address.startsWith('0x')"
          (click)="update_addr(address)">
    Recherche des places
  </button>

  <div  *ngIf="config.webcamsAvailable==0" style="font-size: x-small">
    <br><br>
    Aucune caméra détectée sur ce device pour<br>
    valider les entrées sur la base du QRCode<br>
  </div>

  <br><br>


  <div *ngIf="_event?.owner==config.user?.address">
    <div *ngIf="_event?.validate.checkers?.length==1">
      Vous êtes le seul habilité à valider les billets
    </div>




    <div *ngIf="_event?.validate.checkers?.length>1" style="width: 100%;text-align: center;">
      <h2>Liste des valideurs</h2>
      <table style="display: inline-block;">
        <tr *ngFor="let val of _event?.validate.checkers" style="width: 350px;">
          <td style="text-align: left;">
            <span *ngIf="val!=config.user?.address">{{val}}</span>
          </td>
          <td style="text-align: right;width:30px;">
            <mat-icon *ngIf="val!=config.user?.address"  (click)="removeChecker(val)">cancel</mat-icon>
          </td>

        </tr>
      </table>

      <br>
    </div>



    <button class="app-button" mat-button mat-raised-button
            (click)="add_checker()">
      Ajouter
    </button>
  </div>
</div>



<div style="width:100%;text-align: center;margin-top:10%;" *ngIf="tickets.length>0 && message.length==0">
  <h2>Propriétaire des billets</h2>
  {{_user?.pseudo}}<br>
  <img [src]="_user?.photo"
        class="image-photo"
        width="150px" height="150px">
  <br>
  <br>

  <div style="font-size: x-large;">{{tickets.length}} entrée(s) valable(s)</div>
  <div *ngIf="_dates.length==1">
    <span *ngIf="!_dates[0].startsWith('aujourd')" style="color:red;">Attention ! Pour le, {{_dates[0]}}</span>
    <span *ngIf="_dates[0].startsWith('aujourd')">{{_dates[0]}}</span>
  </div>


  <!-- Présentation quand les valideurs ont la charge de brulé les billets-->
  <div *ngIf="_event.validate.instant_burn">
    <button class="app-button"
            mat-button mat-raised-button
            (click)="burn(true)">
      Tout utiliser
    </button>

    <mat-selection-list #select>
      <mat-list-option *ngFor="let ticket of tickets"
                       [value]="ticket._id"
                       (click)="update_toburn(select?.selectedOptions?.selected)">
        <mat-icon matListIcon>event_seat</mat-icon>
        <h3 matLine>#{{ticket.seat || ticket.ref}}</h3>
        <h3 matLine>Pour le {{ticket.date*1000 | date:'dd/MM/yy HH:mm'}}</h3>
      </mat-list-option>
    </mat-selection-list>

    <div *ngIf="to_burn.length>0">
      <br>
      <button class="app-button" mat-button
              mat-raised-button (click)="burn(false)">
        Utiliser {{to_burn.length}} places
      </button>
    </div>
  </div>

  <br>
  <div *ngIf="!_event.validate.instant_burn">
    <div *ngFor="let ticket of tickets">
      Billet <span>#{{ticket.seat || ticket.ref}}</span>&nbsp;
      <div *ngIf="dates?.length>1">Pour le {{ticket.date*1000 | date:'dd/MM/yy HH:mm'}}</div>
    </div>

    <br>
    <button class="app-button" mat-button
            mat-raised-button (click)="reload()">
      Suivant
    </button>

  </div>



</div>

