<div class="mainform" *ngIf="config.user">

  <app-tuto label="Ici on peut fixer les préférences de son compte. Modifier sa photo, créditer son solde"></app-tuto>
  <br>

  <div *ngIf="config.user?.photo?.length==0">
    Renforcer la sécurité de votre compte <app-faq-link faq="security"></app-faq-link><br><br>
  </div>


  <button class="app-button large-button"
          *ngIf="config.user?.email?.length==0"
          mat-button mat-raised-button
          (click)="router.navigate(['login'],{queryParam:{message:'Utilisez google ou facebook pour enregistrez simplement votre mail',redirect:'settings'}})">
    Ajouter une adresse mail
  </button>

  <button class="app-button large-button"
          *ngIf="config.user?.photo?.length==0"
          mat-button mat-raised-button
          (click)="addImage($event)">
    Ajouter une photo
  </button>


  <img [src]="config.user.photo"
       *ngIf="config.user?.photo?.length>0"
       width="150px" height="150px"
       title="Cette photo est vérifier au moment de la validation de vos billets pour garantir votre identité"
       class="image-photo"
       (click)="addImage($event)">
  <br>


  <span *ngIf="config.user.email.length>0">{{config.user.email}}</span>
  <br><br>

  <div *ngIf="config.user?.email?.length>0">
    <mat-form-field style="width:50%;max-width: 200px;text-align: center;"  >
      <mat-label>Pseudo</mat-label>
      <input matInput placeholder="Roger" [value]="config.user?.pseudo">
    </mat-form-field>

    <br>
    <button class="app-button"
            id="cmdMakeCard"
            title="Vous permet de vous fabriquer une version physique de votre wallet"
            *ngIf="config.user.photo?.length>0"
            mat-button mat-raised-button
            (click)="makeCard()">
      <div class="bloc-bouton">Fabriquer<br>une carte</div>
    </button>
  </div>

  <hr>
  <br>



  <h2>Vous avez l'offre <strong>{{config.user.offer.name}}</strong>
    <app-faq-link faq="offer"></app-faq-link>
  </h2>
  <button class="app-button"
          id="cmdChangeOffer"
          mat-button mat-raised-button
          (click)="changeOffer()">
    Changer
  </button>
  <br><br>
  <hr>
  <!--<div style="width: 100%;text-align: center;">-->
    <!--<ngx-json-viewer [json]="config.user.offer"-->
                     <!--[expanded]="false"-->
                     <!--style="width:200px;text-align: left;">-->
    <!--</ngx-json-viewer>-->
  <!--</div>-->
  <br><br>

  Solde de votre compte<app-faq-link faq="payment"></app-faq-link><br>
  <span style="font-size: 4em">{{config.user?.money | number:'1.0-1'}}€</span>
  <br><br>

  <app-refund [items]="[{name: 'Rechargement',unit_amount: {currency_code: 'EUR',value: '0'},quantity: '1',description:'Rechargement pour création d\'événement'}]"
              [show]="false"
              *ngIf="config.user?.email?.length>0"
              [amounts]="[5,10,20,50,100]"
              [user]="config.user"
              [sandbox]="config.user.offer=='pilote'"
              (payment)="refreshSolde($event)">
  </app-refund>

  <br>
  <br>


  <br>

  <button class="app-button"
          id="cmdAdvanced"
          mat-button mat-raised-button
          (click)="openWallet()">
    <div class="bloc-bouton">Paramétres<br>avancés</div>
  </button>
  <br>


  <br>
  <hr>

  <button class="app-button"
          id="cmdCancel"
          mat-button mat-raised-button
          (click)="cancelUser()">
    Annuler
  </button>


  <button class="app-button"
          id="cmdSave"
          mat-button mat-raised-button
          (click)="saveUser($event)">
    Enregistre
  </button>

</div>
