<div class="mainform" *ngIf="config.user">

  <br>

  <div *ngIf="config.user?.photo?.length==0">
    Renforcer la sécurité de votre compte:<br><br>
    <button class="app-button large-button"
            mat-button mat-raised-button
            (click)="addImage($event)">
      Ajouter une photo
    </button><br>

    <button class="app-button large-button"
            mat-button mat-raised-button
            (click)="router.navigate(['login'],{queryParam:{message:'Utilisez google ou facebook pour enregistrez simplement votre mail',redirect:'/settings'}})">
      Ajouter une adresse mail
    </button>

  </div>

  <img [src]="config.user.photo"
       *ngIf="config.user?.photo?.length>0"
       width="150px" height="150px"
       title="Cette photo est vérifier au moment de la validation de vos billets pour garantir votre identité"
       class="image-photo"
       (click)="addImage($event)">
  <br>
  <span *ngIf="config.user.email.length>0">{{config.user.email}}</span>
  <br><br>

  <mat-form-field class="input-full-width">
    <mat-label>Pseudo</mat-label>
    <input matInput placeholder="Roger" [value]="config.user?.pseudo">
  </mat-form-field>


  <br><br>


  <h2>Vous avez l'offre <strong>{{config.user.offer.name}}</strong></h2>
  <button class="app-button"
          id="cmdChangeOffer"
          mat-button mat-raised-button
          (click)="changeOffer()">
    Changer
  </button><br>
  <!--<div style="width: 100%;text-align: center;">-->
    <!--<ngx-json-viewer [json]="config.user.offer"-->
                     <!--[expanded]="false"-->
                     <!--style="width:200px;text-align: left;">-->
    <!--</ngx-json-viewer>-->
  <!--</div>-->
  <br><br>

  Solde de votre compte<br>
  <span style="font-size: 4em">{{config.user?.money | number:'1.0-1'}}€</span>
  <br><br>

  <app-refund [items]="[{name: 'Rechargement',unit_amount: {currency_code: 'EUR',value: '0'},quantity: '1',description:'Rechargement pour création d\'événement'}]"
              [show]="false"
              *ngIf="config.user?.email?.length>0"
              [amounts]="[5,10,20,50,100]"
              [user]="config.user"
              [sandbox]="config.user.offer=='pilote'"
              (payment)="refreshSolde($event)">
  </app-refund>




  <br>
  <br>
  <hr>

  <button class="app-button"
          id="cmdCancel"
          mat-button mat-raised-button
          (click)="cancelUser()">
    Annuler
  </button>


  <button class="app-button"
          id="cmdSave"
          mat-button mat-raised-button
          (click)="saveUser($event)">
    Enregistre
  </button>

</div>
